extends layout

include ../node_modules/pug-bootstrap/components/tabs
include ../node_modules/pug-bootstrap/components/forms
include ../node_modules/pug-bootstrap/components/list-groups
include ../node_modules/pug-bootstrap/components/buttons

append content

    h1=title
    if message
        h4(style='color:red;') #{message}
    br
    form(method='POST', action='/lectures/upload', enctype='multipart/form-data', id='uploadForm')

    #form-group
        label(for='course') Course
        br
        select(name='course', form='uploadForm', required)
            each course in courses
                option(value=course._id)=course.id + ' - ' + course.title
    br
    #form-group
        label Upload File
        input.file-input(type='file', name='file', form='uploadForm', required)
    br
    input.btn.btn-info(type='submit', name='upload', value='Upload', form='uploadForm')
